<div class="row mt-2 mb-2">
  <div class="col">
    <div class="float-left">
      <%= button_to "Create New User", new_user_path, {class: 'btn btn-outline-success my-2 my-sm-0', method: "get"} %>
    </div>
  </div>
  <div class="col">
    <div class="float-right">
      <%= button_to "Export User Data To CSV", "/admin/csv-export.csv", {class: 'btn btn-outline-success my-2 my-sm-0', method: "get"} %>
    </div>
  </div>
</div>
<div class="row">
  <%= render 'user_list', users: @users %>
</div>
